<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 top-content-offset">
        
        <div class="p-4 bg-success-subtle border border-primary text-center shadow mb-4">
          <h1>CoC fight simulator</h1>
          <p><%= t('.overview_1')%><br>
          <%= t('.overview_2')%>
          </p>
          
          <h3 class="mt-4"><%= t('.how_to_use_title')%></h3>
          <ol class="text-start d-inline-block">
            <li><%= t('.how_to_use_1')%></li>
            <li><%= t('.how_to_use_2')%></li>
            <li><%= t('.how_to_use_3')%></li>
            <li><%= t('.how_to_use_4')%></li>
          </ol>
        </div>

        <% if user_signed_in? %>
          <div class="text-center">
            <%= link_to t('.start'), new_simulations_path, class: "btn btn-lg btn-success" %>
          </div>
        <% else %>
          <div class="text-center">
            <%= link_to t('.start'), new_user_session_path, class: "btn btn-lg btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>