<div class="row row-cols-1 g-3">
  <div class="col">
    <div class="card h-100 shadow-sm">
      <div class="row g-0 align-items-center">

        <div class="col-auto p-2">
          <%= image_tag "tentative_character_icon.png",
            class: "img-fluid rounded object-fit-cover", 
            style: "width: 75px; height: 100px;", 
            alt: "アイコン" %>
        </div>

        <div class="col">
          <div class="card-body py-2">
            <h5 class="card-title mb-1 fw-bold">
              <%= link_to character.name, character_path(character) %>
            </h5>
            <div class="card-text text-secondary small">
              <%= t('activerecord.attributes.character.hitpoint') %> : <span class="me-3"><%= character.hitpoint %></span>
              <%= t('activerecord.attributes.character.dexterity') %> : <span><%= character.dexterity %></span>
            </div>
          </div>
        </div>

        <div class="col-auto pe-3">
          <%= link_to t('defaults.edit'), edit_character_path(character), id: "button-edit-#{character.id}", class: "btn btn-sm btn-outline-primary me-2" %>
          <%= link_to t('defaults.delete'), character_path(character), id: "button-delete-#{character.id}", class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
        </div>

      </div>
    </div>
  </div>
</div>