<div class="container my-5">
  <h1 class="text-center mb-4 fw-bold"><%= t('.title') %></h1>
  <div class="row justify-content-center">
    <div class="col-lg-10">
      
      <div class="card shadow-sm border-light">
        <div class="card-body p-4">
          <div class="row g-4 align-items-start mb-4">
            <div class="col-12 col-md-auto">
              <div class="mx-auto" style="width: 120px;">
                <%= image_tag "tentative_character_icon.png", class: "img-fluid rounded border object-fit-cover", style: "aspect-ratio: 3/4; width: 100%;" %>
                <!-- MVPリリース後　キャラアイコン登録機能実装時に使用
                <%# if @character.icon.attached? %>
                  <%# image_tag @character.icon, class: "img-fluid rounded border object-fit-cover", style: "aspect-ratio: 3/4; width: 100%;" %>
                <%# else %>
                  <%= image_tag "tentative_character_icon.png", class: "img-fluid rounded border object-fit-cover", style: "aspect-ratio: 3/4; width: 100%;" %>
                  </div>
                <%# end %>
                -->
              </div>
            </div>

            <div class="col">
              <h2 class="h4 fw-bold mb-3 border-bottom pb-2"><%= @character.name %></h2>
              <div class="row g-3">
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.hitpoint') %></div>
                  <div class="fw-bold fs-5"><%= @character.hitpoint %></div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.dexterity') %></div>
                  <div class="fw-bold fs-5"><%= @character.dexterity %></div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.armor') %></div>
                  <div class="fw-bold fs-5"><%= @character.armor %></div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.evasion_rate') %></div>
                  <div class="fw-bold fs-5"><%= @character.evasion_rate %>%</div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.evasion_correction') %></div>
                  <div class="fw-bold fs-5 text-muted"><%= @character.evasion_correction %></div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="small text-secondary"><%= t('.damage_bonus') %></div>
                  <div class="fw-bold fs-5"><%= @character.damage_bonus %></div>
                </div>
              </div>
            </div>
          </div>

          <div class="mt-4 border-top pt-4">
            <h3 class="h6 fw-bold mb-3 text-secondary text-uppercase"><i class="bi bi-swords me-2"></i><%= t('.attack_title') %></h3>
            <div class="row row-cols-1 row-cols-md-3 g-3">
              <% @character.attacks.each do |attack| %>
                <div class="col">
                  <div class="p-3 border rounded bg-light-subtle h-100">
                    <div class="fw-bold mb-1"><%= attack.name %></div>
                    <div class="small text-muted">
                      <%= t('.name') %><span class="text-dark fw-bold"><%= attack.success_probability %>%</span><br>
                      <%= t('.dice_correction') %><span class="text-dark fw-bold"><%= attack.dice_correction %></span><br>
                      <%= t('.damage') %><span class="text-dark fw-bold"><%= attack.damage %></span>
                      <%= t('.attack_range') %><%= attack.attack_range_i18n %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="d-flex justify-content-end gap-2 mt-4 pt-3 border-top">
            <%= link_to t('defaults.edit'), edit_character_path(@character), class: 'btn btn-outline-primary btn-sm px-4' %>
            <%= link_to t('defaults.delete'), character_path(@character), id: "button-delete-#{@character.id}", class: 'btn btn-outline-danger btn-sm px-4', data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-3 mt-4">
        <%= link_to t('defaults.go_simulation'), new_simulations_path, class: 'btn btn-success btn-lg px-5 shadow-sm' %>
        <%= link_to t('defaults.back_index'), characters_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
      </div>

    </div>
  </div>
</div>