<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if user_signed_in? && current_user.tutorial_active? %>
      <meta name="tutorial-step" content="<%= current_user.tutorial_step %>">
    <% end %>
  </head>

  <body data-controller="tutorial loading" data-tutorial-i18n-value="<%= t('tutorial').to_json %>">
    <%# ローディングオーバーレイ（z-index: 9000 でチュートリアル Shepherd より下） %>
    <div class="loading-overlay" data-loading-target="overlay">
      <div class="spinner-border text-light" role="status" style="width: 3rem; height: 3rem;">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <%= render 'shared/header' %>
    <%= render 'shared/flash_message'%>
    <body class="bg-body-tertiary">
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
