<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if user_signed_in? && current_user.tutorial_active? %>
      <meta name="tutorial-step" content="<%= current_user.tutorial_step %>">
    <% end %>
  </head>

  <body data-controller="tutorial" data-tutorial-i18n-value="<%= t('tutorial').to_json %>">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message'%>
    <body class="bg-body-tertiary">
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
